*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nanum Gothic Coding, monospace;
  color: white;
  --background-image: url(/image-good.jpeg);
}
body {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
}

.container {
  height: 100vh;
  width: min(90vw, 1600px);
  padding: 5%;
  border: 0.2rem solid white;
  display: flex;
  justify-content: center;
}

.left-content {
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.title {
  display: flex;
  margin-top: 40%;
  padding: 1rem;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.title > svg {
  height: 3rem;
  width: 3rem;
}
.title > h1 {
  font-size: 3rem;
}
.footer {
  line-height: 4.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer > p {
  background: #0f0f0f;
  line-height: 4.5rem;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.right-content {
  width: 60%;
  height: calc(100% - 4.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #596d48;
}
.right-content > h2 {
  margin-top: 20%;
  flex: 1;
}
